.uploadContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    .uploadTitle {
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        margin-right: 10px;
        margin-left: 20px;
        color: rgb(255,236,214);

        margin: 30px 0px 10px 0px;
        width: calc(100% - 30px);
        max-width: 1000px;
    }

    .uploadFormContainer {
        margin: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 120px);
        max-width: 1000px;
        max-height: 500px;



        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .informationContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 100%;
            height: 100%;

            padding:10px;
            box-sizing: border-box;

            border-radius: 3px;

            background-color: rgb(255,236,214);

            border: 5px solid rgb(90, 80, 63);

            .uploadForm {
           

                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                color: rgb(32, 31, 30);
    
                width: 100%;
                height: calc(100% - 60px);

                overflow-y: scroll;

   
    
                &::-webkit-scrollbar {
                    width: 20px;
                }
                
                &::-webkit-scrollbar-corner {
                    background: rgba(0,0,0,0);
                }
    
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.25);
                    border-radius: 6px;
                    border: 4px solid rgba(0,0,0,0);
                    background-clip: content-box;
                    min-width: 32px;
                    min-height: 32px;
                }
    
                hr {
                    margin-top: 20px;
                    margin-bottom: 20px;
    
                    border: none;
                    height: 1px;
                    background-color: rgb(172, 157, 128);
                }
    
    
                .fileContainer {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                    .upload {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
    
                        min-width: 140px;
    
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        padding: 5px 10px 5px 10px;
    
                        
                        border: none;
                        outline: none;
                        border-radius: 5px;
                        background-color: rgb(152, 110, 43);
                        color: rgb(255,236,214);
    
                        transition: 0.2s;
    
                        &:hover {
                            cursor:pointer;
                            background-color: rgb(209, 154, 65);
                        }
    
    
                        span {
                            margin-left: 10px;
                        }
                    }
    
                    .filenameContainer {
                        flex: 1;
                        width: calc(100% - 150px);
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
    
                        .filename {
                            max-width: calc(100% - 150px);
                            overflow: hidden;
                            display:block;
                            text-overflow: ellipsis;
                        }
    
                        .removeFile {
                            font-family: 'Roboto', sans-serif;
                            font-size: 14px;
                            padding: 5px 10px 5px 10px;
                            margin-left: 20px;
    
                            
                            border: none;
                            outline: none;
                            border-radius: 5px;
                            background-color: rgb(181, 21, 21);
                            color: rgb(255,236,214);
    
                            transition: 0.2s;
    
                            &:hover {
                                cursor:pointer;
                                background-color: rgb(230, 48, 48);
                            }
                        }
                    }
                }
    
                .nameContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                    .title {
                        font-size: 18px;
                        width:100px;
                    }
    
                    input {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        height: 30px;
                        padding: 0px 5px 0px 5px;
                        width: calc(100% - 120px);
                    }
                }
    
                .modelContainer {
                    display: flex;
                    flex-direction: row;
    
                    .section {
                        width: 50%;
                        height: 100%;
                    }
    
    
                    .title {
                        display: block;
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
    
                    .models {
                        display: flex;
                        flex-direction: column;
                        font-size: 16px;
    
                        .model {
                            &:hover {
                                cursor: pointer;
                            }
                            & input {
                                accent-color: rgb(32, 31, 30);
    
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
    
                }
            }

            .create {
                display: flex;
                justify-content: center;
                align-items: center;                

                font-family: 'Roboto', sans-serif;
                font-size: 18px;

                width: 100%;
                height: 50px;
    
                border: none;
                outline: none;
                border-radius: 5px;
                transition: 0.2s;


                &.disabled {
                    cursor: default;
                    color: rgb(143, 137, 130);
                    transition: 0.2s;
                    background-color: rgb(40, 38, 38);
                }
    
                &:not(.disabled) {
                    color: rgb(255,236,214);
                    background-color: rgb(53, 50, 48);
    
                    &:hover {
                        cursor:pointer;
                        background-color: rgb(209, 154, 65);
                    }      
                }
            }
        } 
    }
}